Worksheet 2: Exploratory Data Analysis with Pandas

In [ ]:
# Importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snshdtuygkmh

Problem 1
**Dataset:** `bank.csv`

In [ ]:

bank_df = pd.read_csv('bank.csv')
bank_df.head()

In [ ]:

bank_df.info()

In [ ]:

object_cols = bank_df.select_dtypes(include='object').columns
print('Object columns:', object_cols.tolist())

# find unique values in those columns
for col in object_cols:
    print(f'\nUnique values in {col}:')
    print(bank_df[col].unique())

print('\nTotal null values per column:')
print(bank_df.isnull().sum())

In [ ]:

bank_numeric = bank_df.drop(columns=object_cols)

# save it to csv
bank_numeric.to_csv('banknumericdata.csv', index=False)

bank_num_read = pd.read_csv('banknumericdata.csv')
bank_num_read.describe()

Problem 2: Data Imputations
**Dataset:** `medical_student.csv`

In [ ]:

medical_df = pd.read_csv('medical_student.csv')
medical_df.head()

In [ ]:

medical_df.info()
print('\nMissing values per column:')
print(medical_df.isnull().sum())

In [ ]:

for col in medical_df.columns:
    if medical_df[col].dtype == 'object':
        medical_df[col].fillna(medical_df[col].mode()[0], inplace=True)
    else:
        medical_df[col].fillna(medical_df[col].mean(), inplace=True)

print('Filled missing values successfully!')
medical_df.isnull().sum()

In [ ]:

print('Duplicate rows:', medical_df.duplicated().sum())
medical_df = medical_df.drop_duplicates()
print('After removing duplicates:', medical_df.duplicated().sum())

Titanic Dataset - Problem 1
**Dataset:** `titanic.csv`

In [ ]:
titanic = pd.read_csv('titanic.csv')

subset = titanic[['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
first_class = subset[subset['Pclass'] == 1]

print('Mean Fare:', first_class['Fare'].mean())
print('Median Fare:', first_class['Fare'].median())
print('Max Fare:', first_class['Fare'].max())
print('Min Fare:', first_class['Fare'].min())

Problem 2

In [ ]:
print('Null values in Age column:', first_class['Age'].isnull().sum())

# drop rows with missing age
first_class = first_class.dropna(subset=['Age'])
first_class.head()

Problem 3

In [ ]:
embarked_encoded = pd.get_dummies(titanic['Embarked'], prefix='Embarked')
titanic_encoded = pd.concat([titanic, embarked_encoded], axis=1)
titanic_encoded.drop('Embarked', axis=1, inplace=True)

titanic_encoded.head()

Problem 4

In [ ]:
survival_by_gender = titanic.groupby('Sex')['Survived'].mean()
print(survival_by_gender)

# simple bar chart
plt.figure(figsize=(6,4))
sns.barplot(x=survival_by_gender.index, y=survival_by_gender.values, palette='cool')
plt.title('Survival Rate by Gender')
plt.ylabel('Mean Survival Rate')
plt.show()

Problem 5

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(data=titanic, x='Embarked', y='Survived', hue='Sex', palette='Set2')
plt.title('Survival Rate by Embarkation Port and Gender')
plt.ylabel('Mean Survival Rate')
plt.show()